In [2]:
import sqlite3 as db
from utils.rendering import LiveRenderer
import binance
import pandas as pd
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager

In [3]:
api_key='ZGvDtoVQM9O1xb0PXaSPzMffWtGH3ofxVSbsuzGQNDBwklCHkKm4x1g3nrImqQXF'
api_secret='BUDui1xmoP11wGmSV3RqTrtrkmYU5EyogHMtigVQgTGoQxjcibkuwjN5Et169f4o'

In [4]:
conn = db.connect('Trade_history/trade.db')
cursor=conn.cursor()

In [5]:
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""

cursor.execute(sql_query)
render_names=[t[0] for t in cursor.fetchall()]
name=render_names[0]
df=pd.read_sql(f'select * from {name}',conn)
df

,idx,step,date,position_index,position,real_position,portfolio_valuation,portfolio_distribution_asset,portfolio_distribution_fiat,portfolio_distribution_borrowed_asset,...,feature_log_volume_20,feature_log_return_25,feature_log_volume_25,feature_log_return_30,feature_log_volume_30,ds,symbol,unique_id,dynamic_feature__0,dynamic_feature__1
0,-1,0,2024-04-26 07:14:33.797780,0,0,0,11203.645089,0,11203.645089,0,...,-1.200549,0.821016,-0.883985,0.878187,-0.974972,2024-04-26 11:59:59.999000,ETHUSDT,8,0,0

In [6]:
renderer=LiveRenderer('C:/Users/standard/Git/MultiTrader/Trade_history/trade.db')

In [7]:
renderer.run()

 * Serving Flask app 'gym_trading_env.renderer'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [26/Apr/2024 07:39:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2024 07:39:08] "GET /update_data/ETHUSDT_trade_history HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2024 07:39:08] "GET /metrics HTTP/1.1" 200 -

In [ ]:
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""

cursor.execute(sql_query)
render_names=[t[0] for t in cursor.fetchall()]
name=render_names[0]
df=pd.read_sql(f'select * from {name}',conn)
df

In [ ]:
# df.columns=[c.replace('data_','') for c in df.columns]
# df['date']=df['date'].apply(pd.to_datetime)
# df=df.set_index('date')
df

In [ ]:
# df=df[~df.close.isna()]
mask=df[(df['date']=='62')==True].index
df.loc[mask,'date']=df.loc[mask,'ds'].copy()

In [ ]:
df

In [ ]:
df.to_sql(render_names[0],conn,if_exists='replace',index=False)

In [ ]:
import datetime

In [ ]:
df.iloc[[-1]].to_dict('records')[0]

In [ ]:
pd.Timestamp(datetime.datetime.now())